@import url("../../fonts/stylesheet.scss");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.addBook__panelheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    .group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 10px;
        padding-left: 101px;


        .cellbutton {
            display: flex;
            flex-direction: row;
    
            .cellbutton__text {
                font-size: 16px;
            }
            
        }   
    }

    .panelheader__title {
        font-family: "Roboto-Medium";
        font-size: 20px;
        letter-spacing: 0.1px;
    }

    
}

.cellbutton {
    display: flex;
    flex-direction: row;
    // max-width: 120px;

    .cellbutton__text {
        font-size: 14px;
        font-family: "Roboto-Regular";
        color: #2688EB;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.container {
    margin: 14px 27px 0 19px;
}


.input__wrapper {
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .input {
        // width: 366px;
        border-radius: 14px;
    }
}

.input__title {
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: 300;
}

.bottom__title {
    margin-bottom: 4px;
}


.loadImage__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
    .file__wrapper {
        padding: 0;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .file {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 6px;
            width: 200px;
            height: 200px;
            min-width: 100px;
            min-height: 100px;
        }
        .file .vkuiButton__in {
            justify-content: center !important;
        }
        .file .vkuiButton__content {
            padding: 0 !important;
        }
        
        .file img {
            width: auto;
            height: auto;
            max-width: 200px;
            max-height: 200px;
            aspect-ratio: 1/1;
        }
    }

    .maxSize__text {
        color: #3F8AE0;
        font-family: "Roboto-Regular";
        font-size: 15px;
        letter-spacing: 0.1px;
    }
}


.addBook__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 39px;
    background-color: #2688EB;


    span {
        font-family: "Roboto-Regular";
        font-size: 20px;
        color: #FDFCFF;
    }
}

.footer__text {
    display: flex;
    color: #6D7885;
    font-family: "Roboto-Regular";
    font-size: 13px;
}