@import url("../fonts/stylesheet.scss");

#catalog-back .vkuiIcon {
    width: 50px !important;
    height: 50px !important;
}
#addbook .vkuiIcon {
    width: 50px !important;
    height: 50px !important;
}

.books__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 28px;

    .book__item {
        display: flex;
        flex-direction: row;
        gap: 15px;


        .book_item-image {
            width: 112px;
            height: 145px;
        }


        .book__item-textContent {
            display: flex;
            flex-direction: column;


            .book__name {
                font-family: "Roboto-Medium";
                font-size: 24px;
                max-width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .book__descr {
                color: #A5A5A5;
                font-family: "Roboto-Regular";
                font-size: 20px;
                max-width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}