* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profile {
    margin: 0 auto;
    padding: 3% 7%;
}

.user_background {
    width: 100%;
    background: rgb(115,115,115);
    background: linear-gradient(180deg, rgba(115,115,115,1) 0%, rgba(27,14,14,1) 80%);
    height: 15vh;
    position: absolute;
}

.vkuiGroup {
    padding-top: 0;
}

.profile_info {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    position: relative;
}

.header {
    color: #3288FF;
}

.no_books {
    color: #818C99;
}

.user_books_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.book {
    width: 120px;
    height: 150px;
    background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_655ef7271457c967f7e88543_655ef922b7f52370d5b5524b/scale_1200');
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: contain;
    position: relative;
    margin: 12% 5%;
}

.name_book{
    position: absolute;
    top: 100%;
}

.author {
    top: 115%;
    font-weight: 700;
}